
.calendar {
    border-collapse: collapse;
    margin-bottom: 3em;
}

.month {
    font-size: larger;
    padding: 1em;
}

.weekday {
    font-size: smaller;
    text-align: left;
    font-weight: normal;
}

.day {
    margin: 0;
    border: solid 0.25px black;
    width: calc(100vw / 8);
    height: 1in;
    vertical-align: top;
}

.day.padding {
    background: lightgray;
}

.date {
    color: gray;
    font-size: small;
}

.assignments {
    margin-top: 0.25em;
}

.assignment {
    border: solid 0.25px black;
    border-radius: 0.25em;
    padding: 0.25em;
    margin: 0.1em;
}

.assignment.major {
    font-weight: bold;
}

.tooltip.text .title {
    font-weight: bold;
    margin-bottom: 0.5em;
}