.big {
font-size: 1in;
display: block;
}

.loading {
    translate-x: -50%;
    translate-y: -50%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(.5);
        color: red;
    }
    50% {
        transform: scale(1);
        filter: blur(10px);
        color: orange;
    }
    100% {
        transform: scale(.5);
        color: red;
    }
}